<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @entry.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @entry.answer %>
</p>

<p>
  CREATED BY: <%= @entry.creator_handle %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
